body{
    background-color: #f8eded;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p select option{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p input{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

